/* ***** custom lightbox */
.cl_overflow_body {
	position: fixed;
}
.cl_hidden {
	display: none !important;
}
.cl_custom_box {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
	z-index: 10000;
	opacity: 0;
	-webkit-transition: all .65s ease-in-out;
    -moz-transition: all .65s ease-in-out;
    -ms-transition: all .65s ease-in-out;
    -khtml-transition: all .65s ease-in-out;
    -o-transition: all .65s ease-in-out;
    transition: all .65s ease-in-out;
    vertical-align: middle;
}
.cl_custom_box.cl_active {
	opacity: 1 !important;
}
.cl_custom_box.cl_align_center {	
    text-align: center;
}
.cl_custom_box .cl_overlay_box {
	position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    display: block;
    background-color: rgba(0,0,0,0.9);
    z-index: 10001;
}
/*.cl_overlay_box:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}*/
.cl_custom_box .cl_custom_box_wrap {
	vertical-align: middle;
    position: relative;
    width: auto;
    display: inline-block;
    z-index: 10050;    
    /*left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: 100%; */
}
.cl_custom_box.cl_animation .cl_custom_box_wrap {
	-webkit-transition: top .45s, left .35s ease-in-out;
    -moz-transition: top .45s, left .35s ease-in-out;
    -ms-transition: top .45s, left .35s ease-in-out;
    -khtml-transition: top .45s, left .35s ease-in-out;
    -o-transition: top .45s, left .35s ease-in-out;
    transition: top .45s, left .35s ease-in-out;
}
.cl_custom_box.cl_animation.cl_animation_small .cl_custom_box_wrap {
	-webkit-transition: top .45s, left .5s ease-in-out;
    -moz-transition: top .45s, left .5s ease-in-out;
    -ms-transition: top .45s, left .5s ease-in-out;
    -khtml-transition: top .45s, left .5s ease-in-out;
    -o-transition: top .45s, left .5s ease-in-out;
    transition: top .45s, left .5s ease-in-out;
}
.cl_custom_box.cl_animation.cl_animation_close .cl_custom_box_wrap {
	-webkit-transition: top .75s, left .4s ease-in-out;
    -moz-transition: top .75s, left .4s ease-in-out;
    -ms-transition: top .75s, left .4s ease-in-out;
    -khtml-transition: top .75s, left .4s ease-in-out;
    -o-transition: top .75s, left .4s ease-in-out;
    transition: top .75s, left .4s ease-in-out;
}
.cl_custom_box .cl_custom_box_wrap .cl_clickable_area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10051;
}
.cl_custom_box .cl_custom_box_wrap .cl_image_box_wrap {	
    margin: 0;
    display: inline-block;
    z-index: 10100;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    border: 1px solid #fff;
    /*min-width: 200px;
    min-height: 100px; */       
}
.cl_custom_box.cl_border_image .cl_custom_box_wrap .cl_image_box_wrap {
	border: none;
}
.cl_custom_box.cl_animation .cl_custom_box_wrap .cl_image_box_wrap {
	-webkit-transition: width .25s, height .3s ease-in-out;
    -moz-transition: width .25s, height .3s ease-in-out;
    -ms-transition: width .25s, height .3s ease-in-out;
    -khtml-transition: width .25s, height .3s ease-in-out;
    -o-transition: width .25s, height .3s ease-in-out;
    transition: width .25s, height .3s ease-in-out;
}
.cl_custom_box.cl_animation.cl_animation_small .cl_custom_box_wrap .cl_image_box_wrap {
	-webkit-transition: width .25s, height .25s ease-in-out;
    -moz-transition: width .25s, height .25s ease-in-out;
    -ms-transition: width .25s, height .25s ease-in-out;
    -khtml-transition: width .25s, height .25s ease-in-out;
    -o-transition: width .25s, height .25s ease-in-out;
    transition: width .25s, height .25s ease-in-out;
}
.cl_custom_box.cl_animation.cl_animation_vertical_photo .cl_custom_box_wrap .cl_image_box_wrap {
	-webkit-transition: width .35s, height .25s ease-in-out;
    -moz-transition: width .35s, height .25s ease-in-out;
    -ms-transition: width .35s, height .25s ease-in-out;
    -khtml-transition: width .35s, height .25s ease-in-out;
    -o-transition: width .35s, height .25s ease-in-out;
    transition: width .35s, height .25s ease-in-out;
}
.cl_custom_box.cl_animation.cl_animation_close .cl_custom_box_wrap .cl_image_box_wrap {
	-webkit-transition: all .55s ease-in-out;
    -moz-transition: all .55s ease-in-out;
    -ms-transition: all .55s ease-in-out;
    -khtml-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}
.cl_custom_box .cl_image_box_wrap > img {
	display: inline-block;
    width: 100%;
    height: 100%;
   	/* -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -khtml-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;     */ 
    
    -webkit-transition: opacity .7s ease-in-out;
    -moz-transition: opacity .7s ease-in-out;
    -ms-transition: opacity .7s ease-in-out;
    -khtml-transition: opacity .7s ease-in-out;
    -o-transition: opacity .7s ease-in-out;
    transition: opacity .7s ease-in-out;  
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    opacity: 0;
}
.cl_custom_box.cl_border_image .cl_image_box_wrap > img {	
    border: 1px solid #fff;
}
.cl_custom_box .cl_image_box_wrap > img.cl_visible {
	opacity: 1;
}
.cl_custom_box .cl_loading_spinner {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    z-index: 10200;
}
.cl_custom_box .cl_loading_spinner > img {
	margin: 0 auto;
}
.cl_custom_box .cl_custom_box_wrap .cl_previous_image,
.cl_custom_box .cl_custom_box_wrap .cl_next_image {
	position: absolute;
	top: 0;	
	height: 100%;
	width: 50%;
	opacity: 0.2;
	cursor: pointer;
	z-index: 11000;
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -khtml-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.cl_custom_box .cl_custom_box_wrap .cl_previous_image {
	left: 0;
	background: url("../img/prev.png") left 5px center no-repeat;
}
.cl_custom_box .cl_custom_box_wrap .cl_next_image {
	right: 0;
    background: url("../img/next.png") right 5px center no-repeat;
}
.cl_custom_box .cl_custom_box_wrap .cl_previous_image:hover,
.cl_custom_box .cl_custom_box_wrap .cl_next_image:hover {
	opacity: 0.7;	
}
.cl_custom_box.cl_animation .cl_custom_box_wrap .cl_previous_image,
.cl_custom_box.cl_animation .cl_custom_box_wrap .cl_next_image {
	visibility: hidden;
}
.cl_custom_box .cl_custom_box_wrap .cl_additional_box {
	width: 100%;
	height: 40px;
	display: block;
	position: absolute;
	bottom: -40px;
	left: 0;	
    padding: 0 10px;
    overflow: hidden;
}
.cl_custom_box .cl_additional_box .cl_additional_wrap_box {
    position: relative;
	height: 40px;
	width: inherit;
	overflow: hidden;
    margin-top: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -khtml-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.cl_custom_box .cl_additional_box .cl_additional_wrap_box.cl_hide_additional_box {
	margin-top: -40px;	    
}
.cl_additional_box .cl_caption_box {
	font-size: 12px;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.2em;
	color: #fff;
	float: left;
	margin-top: 5px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.cl_additional_box .cl_number_box {
	font-size: 10px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1em;
	color: #fff;
	float: left;
	clear: left;
	margin-top: 5px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.cl_additional_box .cl_close_custom_box {
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    background: url("../img/close.png") right center no-repeat;
    opacity: 0.7;
    cursor: pointer;
}
.cl_additional_box .cl_enter_full_screen {
	font-size: 23px;
    line-height: 38px;
    color: #fff;
    top: 0;
    position: absolute;
    right: 45px;
    height: 36px;
    width: 36px;
    text-align: right;
    cursor: pointer;
    opacity: 0.7;
}
.cl_additional_box .cl_exit_full_screen {
	font-size: 26px;
    line-height: 38px;
    color: #fff;
    top: 1px;
    position: absolute;
    right: 45px;
    height: 36px;
    width: 36px;
    text-align: right;
    cursor: pointer;
    opacity: 0.7;
}
.cl_additional_box .cl_close_custom_box:hover,
.cl_additional_box .cl_enter_full_screen:hover,
.cl_additional_box .cl_exit_full_screen:hover {
	opacity: 1;
}
/* ***** custom lightbox */